.email-modal {
  text-align: center;
}


.email-form {
  text-align: center;
  margin-top: 60px;
  margin-left: 25%;
  margin-right: 25%;
}

.form-control {
  margin-top: 3px;
}

.code-input {
  margin-top: 60px;
  margin-left: 25%;
  margin-right: 25%;
}

.email-label {
  text-decoration: underline;
}